*{
    font-family: 'Fuzzy Bubbles', cursive;
}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url("loading.gif")
	 no-repeat center center;	
	z-index: 99999;
}

.media{
    font-family: 'Fuzzy Bubbles', cursive;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #212529;
    padding: 10px;
    font-size: 1.8rem;
    /* letter-spacing: 0.8ch; */

}
#total{
    font-weight: bold;
    font-size: 3.2rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    /* text-align: center; */
    letter-spacing: 1mm;
    color: rgb(255, 28, 28);
    /* background-color: black; */

}


a{
    text-decoration: none;
}
p{
    color: white;
}
   .cta {
    border: none;
    background: none;
    color: white;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    /* padding-right: 15px; */
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
   }
   
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    color: white;
   }
   
   .cta:hover svg {
    transform: translateX(0);
    color: white;
   }
   
   .cta:active svg {
    transform: scale(0.9);
    color: white;
   }
   
   .hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: white;
   }
   .copy{
       text-align: center;
       margin-top: 20px;
   }
   #TUD{
       color: blue;
   }
   #TUD:hover{
       color: blue;
       font-size: 20px;
      
   }
   .mweb{
       text-align: center;
       margin-top: 20px;
   }
   .bigdiv{
       background-image: url(photos/bg.jpg);
       background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      color: white;
      text-align: center;
   }
   #booknow{
       color: white;

   }
.smw{
    border: 2px solid white;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background:transparent;
    margin-top: 1em;
    margin-bottom: 1em;

}
.modal{
    text-align: center;
    color: black;
}  
.goback{
    border: 2px solid white;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background:transparent;
margin-top: 1em;
}
.copymwkf{
    text-align: center;
    color: white;

}
.trailer{
    text-align: center;
    margin-top: 20px;

}
/* .download:hover{
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    color:white;
    background-color: white;

}
.download{
    
    font-size: 2rem;
    color: white;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
   
} */



.download {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .download:hover {
    border: 2px solid white;
    color: white;
    background-color: transparent;
   }
   
   .download:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }
   .divdownload{
       text-align: center;
       margin-top: 3%;
       margin-bottom: 2%;
   }
#errorbtn{
    border: 2px solid white;
    border-radius: 10px;
}



.info{
    color: white;
    
    text-align: center;

}
.tip{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}